PCS/Service References/LoginService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6969/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6969/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6969/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:6969/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IsUserHave_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserHave" />
  </wsdl:message>
  <wsdl:message name="IService1_IsUserHave_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserHaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTable" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExcuteSql_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcuteSql" />
  </wsdl:message>
  <wsdl:message name="IService1_ExcuteSql_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcuteSqlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsHavePZ_InputMessage">
    <wsdl:part name="parameters" element="tns:IsHavePZ" />
  </wsdl:message>
  <wsdl:message name="IService1_IsHavePZ_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsHavePZResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IsUserHave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsUserHave" message="tns:IService1_IsUserHave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsUserHaveResponse" message="tns:IService1_IsUserHave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTable" message="tns:IService1_GetTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTableResponse" message="tns:IService1_GetTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteSql">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExcuteSql" message="tns:IService1_ExcuteSql_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExcuteSqlResponse" message="tns:IService1_ExcuteSql_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsHavePZ">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsHavePZ" message="tns:IService1_IsHavePZ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsHavePZResponse" message="tns:IService1_IsHavePZ_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUserHave">
      <soap:operation soapAction="http://tempuri.org/IService1/IsUserHave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteSql">
      <soap:operation soapAction="http://tempuri.org/IService1/ExcuteSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHavePZ">
      <soap:operation soapAction="http://tempuri.org/IService1/IsHavePZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:6969/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>